.tools {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}

.home, button , input[type="submit"], input[type="button"]{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: white;
    color: black;
    border-radius: 15px;
    border: none;
    font-size: 16pt;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, filter 0.3s;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0;
    text-align: center;
    position: relative;
    background-size: cover;
}

.random-btn {
    background-image: url(img/btns/random.ico.xhtml);
}

.clear-btn {
    background-image: url(img/btns/clear.svg.xhtml);
}

.delete-btn {
    background-image: url(img/btns/delete.svg.xhtml);
}

.result {
    background-image: url(img/btns/send.svg.xhtml);
}

.home {
    background-image: url(img/btns/home.svg.xhtml);
}

.get-home {
    padding: 0;
    margin: 0;
}

button:hover::after {
    opacity: 1;
}

button::after, input[type="submit"]::after, input[type="button"]::after{
    content: attr(title);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: black;
    opacity: 0;
    transition: opacity 0.3s;
}

button:hover::after, input[type="submit"]:hover::after, input[type="button"]:hover::after {
    opacity: 1;
}

.home:hover, button:hover, input[type="submit"]:hover, input[type="button"]:hover {
    filter: invert(1);
}
