header {
    font-size: 3.3vw;
    margin: 0;
    text-align: center;
}

.error {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 10px;
    top: 10px;
    border-radius: 5px;
    padding: 10px;
    width: auto;
    color: white;
    background-color: gray;
    transition: all 0.5s ;
}

.error-content {
    position: relative;
    padding: 10px;
}

.close-btn {
    cursor: pointer;
    float: right;
    font-size: 30px;
    color: #fff;
}

.close-btn:hover {
    color: #ffcccc;
}
